/*--------------------------------------------------------------
#  WooCommerce
--------------------------------------------------------------*/
/* Content */
ul.woocommerce {
    margin: 0;
    padding: 0;
}
.woocommerce li.product {
    margin-bottom: 20px;
    list-style: none;
    padding: 0 10px;
}
.home-product.row,.new-home .row{
    margin: 50px -10px 0 -10px;
}
.woocommerce li.product .product_item {
    position: relative;
    text-align: center;
}
.tax-product_cat .list-unstyled li.product {
    width: 33.3333%;
}
.owl-item li {
    width: 100%;
}

td.xoo-cp-ptitle a {
    font-size: 14px;

}
table.xoo-cp-cart td {
    padding: 10px 0;
}
.xoo-cp-pimg img {
    width: 80px;
    height: 80px;
    object-fit: cover; 
}
.xoo-cp-qtybox {
    height: 30px;
line-height: 28px;
}
input[type=number].xoo-cp-qty{
    font-size: 13px;
}
span.xcp-minus, span.xcp-plus{
    font-size: 15px;
    font-weight: 600;
}

/*
grid
*/
.rt-view.list li.product {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
}
.rt-view.list li.product .rt-thumb {
    float: left;
    width: 270px;
}
.rt-view.list li.product  .content {
    float: right;
    width: calc(100% - 270px - 20px);
    text-align: left;
}
.rt-view.list li.product  .content .rt_woocommerce_title{
    text-align: left;
}   
.rt-view.list li.product  .content  .price del,
.rt-view.list li.product  .content  .price ins {
    text-align: left;
    width: 100%;
}
.rt-view.list li.product  .content  .price ins span{
    font-size: 18px;
}
/*************************************/
/*
*   rt-thumb
*/
.woocommerce li.product .rt-thumb {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 397px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff4f4;
    background: #fff;
}

.woocommerce li.product .rt-thumb > a{
    text-align: center;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    line-height: 0;
    transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -web-transition: all 400ms ease-in-out;
}
.woocommerce li.product .rt-thumb > a > img{
    width: 100%;
    height: 397px;
    margin: 0 auto;
    object-fit: cover;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
}
.woocommerce li.product .rt-thumb:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .8;
}


.woocommerce li.product .content{
    padding: 10px 0 0;
    text-align: center;
}
.content .price {
    overflow: hidden;
    clear: both;
    margin: 0;
}
.content .price del,
.content .price ins{   
    text-decoration: none;
}
.content .price ins span{
    color: #ff4081;
    font-size: 16px;
}
.content .price del {
    float: right;
    width: 49%;
    color: #aaa9a9;
    text-decoration: line-through;
}
.content .price del span{
    font-size: 14px;
    color: #aaa9a9;
}
.content .price ins{
    float: left;
    width: 49%;

}
.content .price  span {
    color: #ff4081;
    font-size: 16px;
}
.woocommerce li.product .price:after {
    content: '';
    display: block;
    clear: both;
}



.woocommerce li.product .price span.sale-price {
    color: #e00000;
    font-weight: bold;
    font-size: 18px;
}

.woocommerce li.product .price span.regular-price {
    font-size: 15px;
    text-decoration: line-through;
    line-height: 28px;
    color: #333;
}

.woocommerce li.product .price.no-sale-price span.regular-price {
    font-size: 16px;
    color: #e00000;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
.rt_add_to_cart {
    top: 21%;
    left: 0;
    position: absolute;
    text-align: center;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    width: 100%;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}
.woocommerce li.product:hover .rt_add_to_cart{
    opacity: 1;
    transition: all 1s;
}
.woocommerce li.product .rt_add_to_cart a {
    background: #eda418;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    padding: 10px 25px;
    color: #fff;
    float: left;
    margin-top: 0;
    line-height: 1;
    font-size: 14px;
    margin-top: 0 !important;
    display: inline-block;
}
.woocommerce li.product .rt_add_to_cart a.view_product {
    font-size: 15px;
    background: #ff4081;
    border-radius: 0;
    width: 50%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    float: none;
    margin-bottom: 10px;
}
.woocommerce li.product .rt_add_to_cart a.single_view_product {
    float: none;
}
.woocommerce li.product .rt_add_to_cart a.add_to_cart_button,
.woocommerce li.product .rt_add_to_cart a.added_to_cart, .woocommerce li.product .rt_add_to_cart a {
    float: right;
    color: #fff;
    padding: 0 10px;
    line-height: 30px;
}
.woocommerce li.product .rt_add_to_cart a.add_to_cart_button, .woocommerce li.product .rt_add_to_cart a.added_to_cart,
.woocommerce li.product .rt_add_to_cart a.ajax_add_to_cart{
    text-indent: -9999px;
    width: 50%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 0;
    background: #ff4081;
    padding: 0;
    position: relative;
    float: none;
}
.woocommerce li.product .rt_add_to_cart a.add_to_cart_button:after,
 .woocommerce li.product .rt_add_to_cart a.added_to_cart:after,
 .woocommerce li.product .rt_add_to_cart a.ajax_add_to_cart:after{
    font-family: 'FontAweSome';
    content: "\f217";
    color: #fff;
    position: absolute;
    text-indent: 0;
    top: 0;
    left: 0;
    right: 0;
}
.woocommerce li.product .rt_add_to_cart a.add_to_cart_button.added {
    display: none;
}

.woocommerce li.product .rt_add_to_cart a.buy_now_shop_loop_btn {
    float: right;
}

.woocommerce li.product .content h3 {
    width: 100%;
    table-layout: fixed;
    height: 50px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.woocommerce li.product .des_pro_ex {
    display: none;
}
.rt-view.list li.product .des_pro_ex {
    display: block;
}
.rt-view.list li.product .des_pro_ex h3{
    color: #ff5152;
    margin: 0 0 3px 0;
    line-height: 23px;
    height: inherit;
    font-weight: 600;
}
.rt-view.list li.product .des_pro_ex .woocommerce-product-details__short-description p{
    color: #919191;
    line-height: 25px;
}

.woocommerce li.product .rt_woocommerce_title{
    text-align: center;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    line-height: 25px;
}
.woocommerce li.product .rt_woocommerce_title:hover{
    color: #ff4081;
}
.rt_rating {
    background: url(../images/rating.png) center center no-repeat;
    width: 100%;
    height: 14px;
    margin: 10px 0;
}

.woocommerce li.product .rt_onsale {
    background: url(../images/sale-flash.png);
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    width: 53px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-weight: bold;
    z-index: 999;
}
/*

*/
.attribute-single {
    margin: 0 0 9px 0;
    padding: 0;
}
.attribute-single li {
    overflow: hidden;
    padding: 3px 0 3px 16px;
    list-style: none;
    background: url(images/icon_atri.png)left no-repeat;
}

.attribute-single li .left {
    float: left;
    margin-right: 5px;
    font-weight: 600;
}
.des_pro_ex {
    padding: 10px 0;
}
.des_pro_ex p {
    color: #1e7cb7;
    line-height: 22px;
    font-size: 14px;
    margin: 0;
    margin: 0;
}
.des_pro_ex  h3{
    font-size: 15px;
    margin: 0 0 5px 0;
}
/*
price_single_pro
*/
.price_single_pro .price_pro {
    color: #ff4081;
}
.price_single_pro .price_pro label{
    font-size: 20px;
}
.price_single_pro  .owl_prie del{
    color: #919191;
}
.price_single_pro span{
    padding-right: 15px;
}
.percents{
    color: #ff4081;
    font-weight: 600;
}
/*
star_pro
*/
.star_pro{
    display: block;
}
.star_pro i{
    color: #efbd4a;
    margin: 0 2px;
}
/*
percent
*/
.percent {
    position: absolute;
    top: 20px;
    right:20px;
    width: 38px;
    height: 38px;
    background:#ff4081;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 38px;
}
/*////////
    hOTLINE
////////////////////*/

.box-face-skype{
    overflow: hidden;
    clear: both;
    margin-bottom: 15px;
}
.box-face-skype > div{
    display: inline-block;
    margin-right: 5px;
}
.box-face-skype .telephone{
    display: inline-block;
    background: #f51111;
    padding: 0px 10px;
    border-radius: 5px;
}
.box-face-skype .telephone a{
    color: #fff;
    font-size: 21px;
    font-weight: 500;

}
.box-face-skype .telephone a i{
    font-size: 22px;

}
.box-face-skype .face_book{
    padding: 1px 11px;
    background: #056d98;
    border-radius: 3px;
}
.box-face-skype .face_book a{
    color: #fff;
    font-size: 14px;
}
.box-face-skype .skype_id{
    padding: 1px 11px;
    background: #09b3b9;
    border-radius: 3px;
}
.box-face-skype .skype_id a{
    color: #fff;
    font-size: 11px;
}
.box-face-skype > div a i{
    margin-right: 5px;
}


/*
//////////
thoong tin khuyeens maix



*/
.woocommerce div.product form.cart{
    clear: both;
}
/*
sale_product
*/
.sale_product{
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 10px;
    float: left;
    width: 65%;
}
.sale_product h4{
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 600;
    margin: 0;

    margin-top: -22px;
    margin-bottom: 15px;
}
.sale_product h4 span{
    display: inline-block;
    background: #fff;
    padding: 0 15px;
    background: url(images/file.png)left no-repeat #fff;
    padding-left: 23px;
}
.sale_product div{

}
.des_sale_pro p{
    margin: 0;
    position: relative;
    line-height: 26px;
}
.des_sale_pro p:before{
font-family: 'FontAweSome';
    content: "\f111";
    color: #ff5152;
    margin-right: 5px;
    font-size: 9px;
}
.des_sale_pro p span{
    color: #ff5152;
}

/* Single */
.woocommerce div.product .product_title {
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
}

.rt_single_regular_price {
    color: #989898;
    text-decoration: line-through;
    font-size: 15px;
}

.rt_single_regular_price.no_sale {
    color: red;
    text-decoration: none;
    font-size: inherit;
}

.rt_single_sale_price {
    color: red;
    margin-left: 10px;
}

.rt_price_text {
    font-size: 14px;
    color: #2d2d2d;
}

.woocommerce .star-rating span {
    color: #ccc;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0.618em;
}

.product_meta {
    margin: 6px 0;
}

.woocommerce .woocommerce-breadcrumb {
    background-color: #f5f5f5;
    color: #222;
    border-top: 2px solid #0f7fc1;
    padding: 8px;
}

.site.boxed .woocommerce-breadcrumb {
    padding: 8px 15px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #222;
}

/* Single Product */
/* zoom image style */
.single-product .rt_woocommerce-product-gallery .xzoom-thumbs .rt-woocommerce-product-image-simple {
    float: left;
    padding: 3px;
    margin: 0 3px;
    margin-top: 10px;
    border: 1px solid #ddd;
}
.woocommerce div.product div.images .flex-control-thumbs li{
    width: 33.33%;
    float: left;
    padding: 3px;
}
.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: none;
}
.single-product .rt_woocommerce-product-gallery .rt-woocommerce-product-gallery__wrapper {
    position: relative;
}

.single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-thumbnail {
    width: 82%;
    float: right;
}

.single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav {
    position: relative;
    width: 16.75%;
    max-width: 91px;
    float: left;
    height: 423px;
    max-height: 423px;
    overflow: hidden;
}

.single-product .rt_woocommerce-product-gallery.horizontal .rt-woocommerce-product-gallery-nav {
    height: 20px;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 115px !important;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
    overflow: hidden;
}
.single-product .rt_woocommerce-product-gallery.vertical .thumbelina-but {
    height: 20px;
    z-index: 999;
    position: absolute;
    width: 100%;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
}
.thumbelina li {
    width: 80px;
}
.woocommerce div.product form.cart .button {
    background: #00aced;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    outline: none;
}

.woocommerce .quantity .qty {
    height: 55px;
    width: 106px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.woocommerce div.product form.cart .rt_qv_btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdd15+0,fcbb1f+100 */
    background: #ffdd15; /* Old browsers */
    background: -moz-linear-gradient(top, #ffdd15 0%, #fcbb1f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffdd15 0%,#fcbb1f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffdd15 0%,#fcbb1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd15', endColorstr='#fcbb1f',GradientType=0 ); /* IE6-9 */
    border: 0;
    border-bottom: 1px solid #f37126;
    padding: 5px 20px;
    border-radius: 6px;
    color: #333;
    font-weight: 600;
}
.woocommerce div.product form.cart .rt_qv_btn  .cart_text{
    font-weight: 500;
}
.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 1.5em;
}

.rt_woocommerce_single_product_summary {

}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    margin: 0;
}
.rt_woocommerce_single_product_summary-left {
  /*width: 60%;
  float: left;*/
  margin-right: 14px;
}

.rt_woocommerce_single_product_summary-right {
    overflow: hidden;
    background: #f3f3f3;
    border-top: 1px solid #e5e5e5;
}

.rt_box_callback {
    margin: 10px 0;
    padding: 8px;
    background: #5aca59;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.rt_box_callback label {
    float: left;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 5px;
}

.rt_box_callback input[type="text"] {
    border-color: #5aca59;
    font-weight: normal;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 13px;
    color: #222;
    outline: none;
    float: left;
    margin-right: 5px;
}

.rt_box_callback input[type="submit"] {
    background: #ff8400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding: 3px 8px;
    border: none;
    outline: none;
    margin-right: 5px;
}

.ctsp-giaohang, .ctsp-doihang, .ctsp-chinhhang {
    margin-top: 19px;
    margin-left: 15px;
    height: 42px;
    line-height: 42px;
}

.note-ship {
    color: #666;
    font-size: 13px;
    padding: 10px 15px;
    margin-top: 18px;
    border-top: 1px solid #e5e5e5;
    font-weight: bold;
}

form#rt_box_callback {
    display: table;
    margin: 0 auto;
}

.ctsp-giaohang i {
    background: url(../images/gh-icon.png) no-repeat left top;
}

.ctsp-thongdiep i {
    width: 42px;
    height: 42px;
    display: inline-block;
    float: left;
}

.ctsp-doihang i {
    background: url(../images/dt-icon.png) no-repeat left top;
}

.ctsp-chinhhang i {
    background: url(../images/ch-icon.png) no-repeat left top;
}

.money-icon {
    background: url(../images/money-icon.png) no-repeat left top;
    width: 46px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 5px;
}

.ctsp-thongdiep p {
    width: 130px;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
    line-height: 20px;
}


.rt_woocommerce_tabs:after {
    height: 2px;
    width: 100%;
    background: #ccc;
}
.rt_woocommerce_tabs {
    margin-bottom: 15px;
}
.rt_woocommerce_tabs li {
    float: left;
    margin-bottom: -2px;
    margin-right: 2px;
    margin-left: 0;
    background: #d8d8d8;
    padding: 0 10px;
    border-radius: 4px 4px 0 0;
    list-style: none;
}

.rt_woocommerce_tabs li.active, .rt_woocommerce_tabs li:hover {
    border-bottom: 2px solid #ff4081;
    background: #ff4081;
}
.rt_woocommerce_tabs li.active a, .rt_woocommerce_tabs li:hover a{
    color: #fff;
}
.rt_woocommerce_tabs li a {
    color: #333;
    padding: 4px 0 2px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}
.panel{
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 #fff;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #00aced;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #1a1894;
}
.woocommerce div.product form.cart div.quantity .quantity-selector{
    font-weight: 500;
}
/* product_style */
/*.product_style_2 li.product .price {
    width: 60%;
    float: left;
    text-align: left;
}
.product_style_2 li.product .price span.sale-price {
    font-size: 15px;
}

.product_style_3 .price ins,
.product_style_3 .price del {
    width: 50%;
    float: left;
}*/
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, 
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}
/* check out */
.woocommerce-checkout .woocommerce .woocommerce-info{display:none !important;border:1px dashed #ccc;padding:1em 2em 1em 2em}
.woocommerce-checkout .woocommerce .woocommerce-info:before{content:''}
.woocommerce-checkout .woocommerce .woocommerce-info .showlogin,.woocommerce-checkout .woocommerce .woocommerce-info .showcoupon{color:#337ab7}
.woocommerce-checkout .woocommerce form.login,.woocommerce-checkout .woocommerce form.register,.woocommerce-checkout .woocommerce form.checkout_coupon,.woocommerce-checkout .woocommerce form.checkout_coupon{border-radius:0}
.woocommerce-checkout .woocommerce .input-text{border:1px solid #ddd;padding:10px}
.woocommerce-checkout .woocommerce input.button{color:#fff;background:#ff4f00}
.woocommerce-checkout .woocommerce input.button:hover{color:#fff;background:#ff5c12}
.woocommerce-checkout .woocommerce form.checkout{border:1px solid #ddd;overflow: hidden;}
.woocommerce-checkout .woocommerce form.checkout .col3-set .checkout-col-title{font-size:14px;color:#222;border-left:5px solid #ccc;background-color:#f5f5f5;line-height:32px;width:100%;float:left;padding-left:9px;margin-top:15px;margin-bottom:5px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col{padding:23px;width:calc(100% / 3);float:left}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .input-checkbox{position:static;vertical-align:middle;margin:0}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col table.shop_table{margin-top:10px;border-radius:0}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col table.shop_table th{min-width:165px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .woocommerce-additional-fields h3{font-size:14px;color:#222;border-left:5px solid #ccc;background-color:#f5f5f5;line-height:32px;width:100%;float:left;padding-left:9px;margin-top:15px;margin-bottom:5px;text-transform:uppercase}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart__info{position:relative;max-height:200px;overflow:hidden;margin-bottom:30px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart__info .item-cart{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;border-bottom:1px dashed #a0a0a0;margin-bottom:5px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart__info .item-cart div{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;padding:5px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart__info .item-cart div.cart-img{padding-left:0 !important}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart__info .item-cart div.cart-img img{width:50px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart__info .item-cart div.cart-quantity{text-align:right;font-weight:bold;padding-right:0 !important}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div span{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div span.box-1-price{text-align:right}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div span.box-1-price .woocommerce-Price-currencySymbol{display:none}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div.box-2{margin:10px 0}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div.box-3{display:block}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div.box-3 .box-3-input{display:inline-block;width:calc(100% - 120px)}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div.box-3 .box-3-input input{width:100%;border:1px solid #ccc;padding:6px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div.box-3 .box-3-button button{width:100px;border:1px solid #a0a0a0;background:#a0a0a0;color:#fff;padding:6px;outline:0;border-radius:3px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div.box-4{font-weight:bold;font-size:14px;margin:10px 0}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .pd_cart_preview div.box-4 .box-4-price{color:red;font-size:15px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col #payment{background:0}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col #payment #place_order{width:100%;text-transform:uppercase;font-size:2rem;padding:8px;font-family:Arial;font-weight:normal}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col-3{border-left:1px solid #ddd}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods{padding:10px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method{position:relative;list-style: none;}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method input[type=radio]{position:absolute;visibility:hidden}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method input[type=radio]:checked ~ label{color:#337ab7}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method input[type=radio]:checked ~ .check{border:2px solid #337ab7}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method input[type=radio]:checked ~ .check:before{background:#337ab7}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method label{display:block;position:relative;font-weight:300;font-size:1.35em;padding:10px 10px 10px 30px;margin:0 auto;z-index:9;cursor:pointer;-webkit-transition:all .25s linear}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method .check{display:block;position:absolute;border:2px solid #aaa;border-radius:100%;height:20px;width:20px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:0;z-index:5;transition:border .25s linear;-webkit-transition:border .25s linear}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method .check:before{display:block;position:absolute;content:'';border-radius:100%;height:6px;width:6px;top:5px;left:5px;margin:auto;transition:background .25s linear;-webkit-transition:background .25s linear}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .wc_payment_methods .wc_payment_method:hover .check{border:2px solid #337ab7}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .input-checkbox{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;position:relative;top:0;right:0;bottom:0;left:0;height:20px;width:20px;-webkit-transition:all .15s ease-out 0s;transition:all .15s ease-out 0s;background:#337ab7;border:0;color:#fff;cursor:pointer;display:inline-block;margin-right:.5rem;outline:0;position:relative;z-index:1000;text-align:left}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .input-checkbox:hover{background:#9faab7}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .input-checkbox:checked{background:#337ab7}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .input-checkbox:checked:before{height:20px;width:20px;position:absolute;content:'✔';display:inline-block;font-size:13px;text-align:center;line-height:20px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col .input-radio:focus,.woocommerce-checkout .woocommerce form.checkout .col3-set .col .input-checkbox:focus{outline:0}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col #ship-to-different-address{font-size:14px}
@media(max-width:991px){.woocommerce-checkout .woocommerce form.checkout .col3-set .col{width:100%;float:none;padding:0 23px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col-3{border-left:0;padding-bottom:23px}
.woocommerce-checkout .woocommerce form.checkout .col3-set .col #payment #place_order{width:320px;max-width:100%}
}
/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps > .ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps > .ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps.ps--active-x > .ps__rail-x,
.ps.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps.ps--focus > .ps__rail-x,
.ps.ps--focus > .ps__rail-y {
  opacity: 0.6;
}

.ps.ps--scrolling-x > .ps__rail-x,
.ps.ps--scrolling-y > .ps__rail-y,
.ps > .ps__rail-x:hover,
.ps > .ps__rail-y:hover,
.ps > .ps__rail-x:focus,
.ps > .ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps > .ps__rail-x > .ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps > .ps__rail-y > .ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps > .ps__rail-x:hover > .ps__thumb-x,
.ps > .ps__rail-x:focus > .ps__thumb-x,
.ps.ps--scrolling-x > .ps__rail-x > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps > .ps__rail-y:hover > .ps__thumb-y,
.ps > .ps__rail-y:focus > .ps__thumb-y,
.ps.ps--scrolling-y > .ps__rail-y > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

@media (max-width: 1200px) {
    .woocommerce li.product .rt_add_to_cart a.add_to_cart_button,
    .woocommerce li.product .rt_add_to_cart a.added_to_cart {
        display: block;
    }
}
@media (min-width: 992px) {
  .single-product .rt_woocommerce-product-gallery, .woocommerce #content div.product div.images {
        width: 41%;
        float: left;
        margin-bottom: 20px;
  }

  .single-product .rt-summary {
    width: 57%;
    float: right;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
    .single-product .rt-summary {
        margin-top: 20px;
    }

}
@media (max-width: 600px) {
    .rt_woocommerce_single_product_summary-left, .rt_woocommerce_single_product_summary-right {
        float: none;
        width: 100%;
        margin: 0;
    }

    .note-ship {
        margin-bottom: 10px;
    }

    .single-product .content-area {
      margin-top: 10px;
    }
}
@media (max-width: 414px) {
    .rt_box_callback label {
      float: none;
      display: block;
    }
    .single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav {
        display: none;
    }

    .single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-thumbnail {
        float: none;
        width: 100%;
    }
    .rt_add_to_cart {
        padding: 0 5px;
    }
}
